.vs/
*.user
*.suo
*.sln.docstates
*.VC.db
*.VC.opendb
*.VC.VC.opendb
*.ncb
*.sdf
*.opensdf
*.cache
*.aps
*.psess
*.vsp
*.vspx
*.sap
ipch/
Debug/
Release/
x64/
x86/

Build/
Results/

*.obj
*.pdb
*.ilk
*.idb
*.ipdb
*.iobj
*.exp
*.lib
*.exe
*.dll
*.tlog
*.log
*.lastbuildstate
*.recipe
*.cso

packages/
*.nupkg
*.snupkg
!packages.config

D3D12/
*.pso
*.psocache
PipelineLibrary/
*.dxdmp

*.wpix
*.pixcap
*.rdc
*.etl
*.wpa

Results/tmp/
Results/*.raw

__pycache__/
*.pyc
.venv/

Thumbs.db
Desktop.ini
*.bak
*.tmp
*.orig